*{
    padding: 0;
    margin: 0;
}
h1, header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
body{
    background-color: rgb(68, 107, 167);
}
p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: xx-large;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 100px;
    
}
.menu a:hover {
    color: gray;
}
.photo-img{
    width: 600px;
    height: fit-content;
    align-items: center;
}
@media(max-width:600px) {
    .menu{
        flex-direction: column;
    }
}