.weather-app {
  text-align: center;
  margin-top: 50px;
}

.search-container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.weather-info {
  background-color: #971111;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
